@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

.main {
  height: 90vh;
  display: flex;
  justify-content: center;

  .container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .greeting {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      h1 {
        color: #fffff6;
        font-weight: lighter;
      }
      h2 {
        color: #839ac1;
        font-weight: bold;
      }
      h3 {
        color: #839ac1;
        font-weight: bold;
      }
    }

    img {
      width: 450px;
      height: 500px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    height: 90vh;
    display: flex;
    justify-content: center;

    .container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .greeting {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3 {
          font-size: 18px;
        }

        h1 {
          font-size: 22px;
        }

        h2 {
          font-size: 20px;
        }
      }

      img {
        border-radius: 6px;
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .main {
    height: 100%;
    display: flex;
    justify-content: center;

    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .greeting {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3 {
          font-size: 15px;
        }

        h1 {
          font-size: 19px;
        }

        h2 {
          font-size: 17px;
        }
      }

      img {
        border-radius: 6px;
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media only screen and (max-height: 420px) {
  .main {
    img {
      border-radius: 6px;
      width: 200px;
      height: 200px;
    }
  }
}

@media only screen and (width: 320px) {
  .main {
    display: flex;
    justify-content: center;

    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .greeting {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3 {
          font-size: 17px;
        }

        h1 {
          font-size: 21px;
        }

        h2 {
          font-size: 19px;
        }
      }

      img {
        border-radius: 6px;
        width: 185px;
        height: 185px;
      }
    }
  }
}








