.project {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  .imageProject {
    background-size: cover;
    background-color: #60a2ff;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #60a2ff;


    button {
      width: 90px;
      height: 35px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      border: 0;
      border-radius: 5px;

      &:hover {
        background-color: #839ac1;
      }

      a {
        text-decoration: none;
      }
    }
  }
  h3 {
    color: #fdfeff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  span {
    color: #fdfeff;
    font-weight: lighter;
  }
}

@media only screen and (max-width: 768px) {
  .project {
    .imageProject {
      width: 90%;
    }

    h3 {
      font-size: 20px;
    }

    span {
      font-size: 18px;
    }
  }
}

